
<main>
    <div class="container"  >
        <div class="jumbotron" style="background-color:burlywood;">
            <h1  class="blue-text , serif" >Welcome to TO-DO APP!</h1>         
        </div>       
    </div> 
    
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
        <div class="form-group">
            <label for="task" style="color:rgb(107, 28, 28)">Task</label>
            <input name="task" #task="ngModel" [(ngModel)]="service.formData.task" class="form-control" placeholder="Your task here" required>
            <div *ngIf="task.invalid && task.touched"  style="color: red" >This field is required</div>
        </div>
        <div class="form-group">
            <label for="deadline" style="color:rgb(107, 28, 28)">DeadLine</label>
            <input name="deadline" #date="ngModel" [(ngModel)]="service.formData.deadline" class="form-control" placeholder="Deadline">
            <div style="color: red" >DD/MM/YY</div>
        </div>
        <div class="form-group">
            <label for="description" style="color:rgb(107, 28, 28)">Description</label>
            <input name="description" #description="ngModel" [(ngModel)]="service.formData.description" class="form-control" placeholder="Description">
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="form.invalid" class="buttonadd" >SUBMIT</button>
        </div>
    
    </form> 


    <table class="table table-hover" style="width:100%">
        <thead class="brown-text">
            <th>TASK</th>
            <th>DEADLINE</th>
            <th>DESCRIPTION</th>
            <th>DELETE</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of list" class="brown1-text">
                <td (click)="onEdit(i)">{{i.task}}</td>
                <td (click)="onEdit(i)">{{i.deadline}}</td>
                <td (click)="onEdit(i)">{{i.description}}</td>
                <td><a  class="btn text-danger"(click)="onDelete(i.id)"><i class="fa fa-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
</main>
    
   








    

























